.container-tasks{
    width: 100%;
    background-color: white;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-task{
    font-family: Rammetto One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #5C4848;
    line-height: 25px;

}

.plus-task{
    width: 50px;
    height: 50px;
    background-color:  #F60;
    display: grid;
    place-content: center;
    border-radius: 100px;
    color: white;
    font-size: 50px;
    border: none;
}

.nav-task{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks{
    width: 100%;
    height: 75%;
    display: grid;
    justify-content: center;
    padding: 20px;
    grid-template-columns: 48% 48%;
    gap: 5px;
    overflow-y: scroll;
}
.task{
    width: 100%;
    height:100px;
    background-color: #5C4848;
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.tasks::-webkit-scrollbar{
    background-color: rgb(255, 255, 255);
    width: 4px;

}
.tasks::-webkit-scrollbar-thumb{
    background-color: rgba(255, 102, 0, 0.63);

}
.selectTask{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin: 20px;
    background-color: rgba(92, 72, 72, 0);
    border: 3px solid #F60;
    display: flex;
    justify-content: center;
    align-items: center;
}




.div-txt-task{
    display: flex;
    flex-direction: column;
}
.txt-task{
    color: #FFF;
    font-family: 'Pangolin';
    font-size: 25px;
}

.date-task{
    color: #ffffff88;
    font-family: Pangolin;
}

.container-add-task{
    border-radius:5px;
    width: 60%;
    height: 300px;
    background: rgba(217, 147, 147, 0.811);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.input-title{
    width: 90%;
    height: 30px;
    font-family: 'Pangolin';
    outline: none;
    border: 1px solid #5C4848;
    border-radius: 5px;
}
textarea{
    width: 90%;
    height: 50px;
    margin: 10px;
    font-family: 'Pangolin';
    outline: none;
    border: 1px solid #5C4848;
    border-radius: 5px;
}

.input-date{
    height:30px;
    margin: 10px;
    outline: none;
    border: 1px solid #5C4848;
    border-radius: 5px;
}
.input-time{
    height: 30px;
    margin: 10px;
    outline: none;
    border: 1px solid #5C4848;
    border-radius: 5px;
}

.btn-submit{
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background-color: rgb(48, 225, 48);
    font-size: 20px;
    
}

label{
    color: #ffffff;
    font-size: 20px;
}